.back-arrow i {
  background-color: rgb(231, 234, 237);
  padding: 15px;
  border-radius: 17px;
  color: rgb(41, 45, 50);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.back-arrow i:hover{
    background-color: rgb(250, 255, 243);
    transform: rotate(360deg)
}
.back-arrow p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 24px;
}
.line-through {
  text-decoration: line-through;
}
.save-btn-style {
  background-color: #1C1C28; 
  color: white;
  font-weight: 550;
  border-radius: 9px;
  padding: 10px 40px 10px 20px;
  transition: all 0.3s ease-in-out;
}
.save-btn-style:hover{
  background-color: rgba(28, 28, 40, 0.8);
  border-color: rgba(28, 28, 40, 0.1);
}
.delete-btn-style {
  background-color: #FFF6F6;
  color: #FF6069;
  border: 1px solid #FF4B55;
  font-weight: 550;
  border-radius: 9px;
  padding: 10px 10px 10px 20px;
  transition: all 0.3s ease-in-out;
}
.delete-btn-style img {
  width: 20px;
  height: 25px;
  margin-left: 20px;
  padding-bottom: 5px;
}
.delete-btn-style:hover{
  background-color: rgba(255, 243, 230, 1);
}