* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 225, 227);
  font-family: "Times New Roman";
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
input,
button,
i,
img {
  padding: 0;
  margin: 0;
}
.rtl {
  direction: rtl;
}
